<div id='navLinks'>
  @Html.ActionLink("Add a new department", "Create", "Departments")
  <br>
  @Html.ActionLink("View all departments", "Index", "Departments")
  <br>
  @Html.ActionLink("Add a new course", "Create", "Courses")
  <br>
  @Html.ActionLink("View all courses", "Index", "Courses")  
  <br>
  @Html.ActionLink("Add a new Student", "Create", "Students")
  <br>
  @Html.ActionLink("See all Students", "Index", "Students")
  <br>
  @Html.ActionLink("Back home", "Index", "Home")
</div>