@{
  Layout = "_Layout";
}
@model UniversityRegistrar.Models.Student;
@using UniversityRegistrar.Models;

<h2>Select Courses to Add for @Model.Name</h2>
<form method = "post">
  <table class="table">
    <tr>
      <th>Department</th>
      <th>Course Name</th>
      <th>Select</th>
    </tr>
    @foreach (Course fish in ViewBag.Courses)
    {
      <tr>
        <td>@fish.Department.DepartmentName</td>
        <td>@fish.CourseName</td>
        <td><input name="wutCourses" type="checkbox" value="@fish.CourseId"></td>
      </tr>
    }
    
  </table>
  <input type="hidden" value="@Model.StudentId" name="studentId" id="studentId">
  <input type="submit" value="Lets do dis">
</form>
