@{
  Layout = "_Layout";
}

@using UniversityRegistrar.Models;
@* @model UniversityRegistrar.Models.Student; *@

<h2>@Model.Name</h2>
<ul>
  <li>Enrolled: @Model.DateOfEnrollment.ToString("d")</li>
  <li>Major: @Model.Major.DepartmentName</li>
  <li>Courses:<ul>
    @if (Model.Enrollments.Count != 0)
    {
      @foreach (Enrollment item in Model.Enrollments)
      {
        <li>@item.Course.Department.DepartmentName @item.Course.CourseName </li>
      }
    }
  </ul></li>

</ul>

@Html.ActionLink("Add Courses for this Student", "AddCourses", "Students", new { id = @Model.StudentId})
